{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <h2 class="a">¿Cómo ayuda CS50 a programar?</h2>

    <p class="inde">En CS50 se imparten los conocimientos necesarios para entender que es la programación, conocer la sintaxis que usan los lenguajes de programacion, obtener la lógica semantica
        para poder resolver un problema con ayuda de la programacion.
        Por lo que CS50 ayuda de gran manera para empezar en el campo de la programacion, debido a que nos da los conocimientos basicos de la programacion, y asi tener una base solida en esta area.. </p>
{% endblock %}